<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatisMappers.Mapper">

  <insert id="insertLots"  >
    <!-- the table in the database is very simple, with only one column(text) -->
    insert into t1(content) values
    <foreach collection="list" item="obj"  separator="," >
      ( #{obj} )
    </foreach>
  </insert>


  <insert id="insertOne"  >
    <!-- the table in the database is very simple, with only one column(text) -->
    insert into t2(content) values(#{content})
  </insert>




</mapper>
